 /* importamos la fuente */
 @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    background: black;
}

html{
    scroll-behavior: smooth;
}

nav{
    display: flex; /*hace que los nombres estan lado a lado */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 980px;
    justify-content: flex-end;
}


nav ul li{
    
    display: inline-block;
    list-style: none;
    margin: 10px, 20px;
    
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    margin: 10px;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 0.1px;
    background: #08eee2 ;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.presentacion{
    color: #fff;
    font-size: 18px;
    margin-top: 300px;
    margin-left: 575px;
    transition: 1s;
}
.presentacion:hover{
    transform: translateY(-10px) ;
}

.presentacion h1 span{
    color: #08eee2;
}

nav .fa-light{
    display: none;
}

nav .fa-solid{
    display: none;
}
/* seccion sobre mi */

#Sobre_mi{
    padding: 80px 0px;
    background: black;
}

.container  {
    color: #fff;
    padding-top: 50px;
    display: flex;
    
}
.columna-1:hover{
    transform: translateY(20px);
}

.container h1 {
    display: inline;
    transition: 0.5s;
    padding-bottom: 20px;
    
}

.container h1:hover{
    color: #08eee2;
}

.container img{
    flex-basis: 35%;
    padding-left: 25px;
    border-radius: 15px;
    border-radius: 50%;
}

.columna-1{
    margin: 20px;
    padding-top: 60px;
    font-size: 18px;
    transition: 0.5s;

}

/* experiencia */
.container{
    padding-bottom: 0px;
}

.container h1{
    padding-bottom: 30px;
    transition: 0.5s;
}

.container h1:hover{
    color: #08eee2;
    
}

.container p{
    font-size: 23px;
    
}

/* Contacto */

#Pie_pagina {
    
    padding: 80px;
}


.contacto h3{
    color: #fff;
    transition: 0.5s;
}

.contacto h3:hover{
    color: #08eee2;
    transform: translateY(-20px);
}

.contacto ul {
    list-style: none;
    
}

.contacto ul li {
    color:#fff;
    text-decoration: none;
}

.contacto ul li a {
    color:#fff;
    text-decoration: none;
    list-style: none;
}

.fa-brands{
    height: 30px;
    width: 30px;
    color: #fff;
} 

/* pagina responsive */

@media  only screen and (max-width: 600px){

    /* header */

    nav .fa-rectangle-xmark{
        display: block;
        font-size: 25px;
        color: #fff;
        background: #08eee2;
        
    }
    
    nav .fa-solid{
        display: block;
        font-size: 25px;
        color: #fff;
        
    }

    nav ul{
        background: #08eee2;
        position: fixed;
        top: 0;
        right: -200px;
        height: 100vh;
        width: 200px;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        background: #08eee2;
        display: block;
        margin: 25px;
    }

    nav ul li a{
        color: black;
        background: #08eee2;
        display: block;
        margin: 25px;
    }

    nav ul .fa-rectangle-xmark{
        top: 25px;
        left: 25px;
        position: absolute;
        cursor: pointer;
    }

    .presentacion {
        padding-left: 65px;
        font-size: 15px;
    }

    /* sobre mi */
    .columna-1{
        padding-bottom: 25px;
        font-size: 25px;
    }

    .columna-2 img{
        padding-top: 20px ;
        width: 250%;
        object-fit: cover;
        object-position: bottom;
    }

}

